*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
}
.item{
    font-size: 1.9rem;
    padding: 2rem;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background: #9bce0b;
}
